html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lora', serif;
    height: 100%;
    background: #f6f6f6;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover, a:active {
    color: #cc0000;
  }
header {
    background: #cc0000;
    color: #ffffff;
  }
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
  .logo-text, h1, h2, h3, h4, h5, h6 {
    font-family: 'Candal', sans-serif;
    margin: 5px;
    color: #5c5b5b;
    font-weight: normal;
  }
  /* NAVBAR */

header {
    background: #cc0000;
    color: #ffffff;
    height: 66px;
  }
  
  header a:hover {
    color: white;
  }
  
  .logo {
    float: left;
    margin-left: 2em;
    height: inherit;
  }
  
  .logo-text {
    padding: 0px;
    color: white;
    font-family: 'Candal', sans-serif;
  }
  
  .logo-text span {
    color: #6ed6e9;
  }
  
  header nav {
    float: right;
  }
  
  header nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  
  header nav ul li {
    float: left;
    position: relative;
  }
  
  header nav ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
  }
  
  header nav ul li a:hover {
    background: #f3ca20;
    transition: 0.5s;
  }
  
  header nav ul li ul {
    display: none;
    position: absolute;
    right: 0px;
    z-index: 4;
  }
  
  header nav ul li:hover .dropdown {
    display: block;
  }
  
  header nav ul li .dropdown li {
    width: 180px;
  }
  
  header nav ul li .dropdown li a {
    background: #fff;
    color: #444444;
    padding: 10px;
  }
  
  header nav ul li .dropdown li a:hover {
    background: #f0f0f0;
  }
  
  header nav ul li .dropdown .logout {
    color: red;
  }
  
  header header nav ul li .dropdown .userinfo {
    width: 130px;
  }
  
  header nav ul .userinfo i.fa-user {
    font-size: 1.3em;
    margin-right: 3px;
  }
  
  header nav ul .userinfo i.fa-chevron-down {
    float: right;
    font-size: .7em;
    margin: 6px 3px;
  }
  
  .menu-toggle {
    display: none;
  }
  /*button*/
  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    border: 1px solid transparent;
    padding: .7rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background: #cc0000;
    color: #fff;
  }
  
  .btn-sm {
    padding: .5rem .8rem;
    line-height: 1.3;
    border-radius: .25rem;
  }
  
  .btn:hover {
    cursor: pointer;
    background: #f3ca20;
  }
  .admin-wrapper {
    height: calc(100% - 65px);
    box-sizing: border-box;
  }
  
  .admin-wrapper .left-sidebar {
    width: 20%;
    height: 100%;
    float: left;
    background:#f3ca20;
  }
  
  .admin-wrapper .left-sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: white;
  }
  
  .admin-wrapper .left-sidebar ul li {
    border-bottom: 1px solid #cc0000;
  }
  
  .admin-wrapper .left-sidebar ul li a {
    display: block;
    padding: 15px 20px;
  }
  
  .admin-wrapper .admin-content {
    width: 80%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 40px 100px 100px;
    overflow-y: scroll;
    background: #fff;
  }
  
  .admin-wrapper .admin-content .button-group {
    padding-bottom: 10px;
    border-bottom: 1px solid #cc0000;
  }
  
  .admin-wrapper .admin-content .button-group .btn {
    width: unset;
  }
  
  .admin-wrapper .admin-content a {
    text-decoration: unset;
  }
  .input-group {
    display: block;
    margin: 10px auto 10px;
  }
  .text-input {
    border: 1px solid #e0e0e0;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: .6rem 1.1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    font-family: 'Lora', serif;
  }
  .delete {
    color: red;
  }
  
  .edit {
    color: blue;
  }
  
  .publish {
    color: green;
  }
  
  .unpublish {
    color: orange;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1em;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #cc0000;
  }
  
  @media (max-width: 768px) {
    nav {
      width: 100%;
      background: #054247;
      ;
    }
    header nav ul li .dropdown li a {
      background: #054247;
    }
    header nav ul li .dropdown li a:hover {
      background: #054247;
    }
  }
